{% set collection = page.find('/references').children %}
{% set limit = 6 %}
{% do paginate( collection, limit ) %}
{#{% set ignore_url_param_array = [ 'event' ] %}#}
{#{% do paginate( collection, limit, ignore_url_param_array ) %}#}

{% extends 'partials/base.html.twig' %}

{% block content %}
  <h1 class="uk-heading-divider">Nos références</h1>
  <div class="uk-grid-small uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid="masonry: true">
    {% for reference in collection %}
      {% include 'partials/card_reference.html.twig' with {'reference': reference} %}
    {% endfor %}
  </div>

  {% if config.plugins.pagination.enabled and collection.params.pagination %}
    {% include 'partials/pagination.html.twig' with {'base_url': page.url, 'pagination': collection.params.pagination} %}
  {% endif %}
{% endblock %}
