{% extends 'partials/base.html.twig' %}

{% block content %}

  <h1>{{ page.title }}</h1>

  <div uk-lightbox>
    {% for key, image in page.header.gallery %}
      <a class="uk-inline uk-transition-toggle" rel="lightbox" data-width="600" data-height="400" href="{{ media['image://' ~ image.name].cropResize(600,400).url  }}">
        <img title="Sample Image" alt="" src="{{ media['image://' ~ image.name].cropResize(400,400).cropZoom(200,200).url  }}" />
        <div class="uk-overlay-default uk-position-cover uk-transition-fade">
          <div class="uk-position-center">
            <span class="uk-transition-fade" uk-icon="icon: search; ratio: 2"></span>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>

  {{ page.content }}

{% endblock %}
