{% set options = { items: {'@page.children': '/references/officines'}, 'limit': 4, 'order': {'by': 'date', 'dir': 'asc'} } %}
{% set latest_references_collection = page.collection(options) %}

<div class="uk-section-small uk-section-muted">
  <div class="uk-container uk-container-small">

    <h2>{{ page.title }}</h2>

    <div class="uk-position-relative" uk-slider="autoplay: true">
      <ul class="uk-slider-items uk-child-width-1-2@s uk-child-width-1-3@m uk-grid uk-flex uk-flex-middle">
        {% for reference in latest_references_collection %}
          <li>
            {% include 'partials/card_reference.html.twig' with {'reference': reference} %}
          </li>
        {% endfor %}
      </ul>
      <a class="uk-position-center-left uk-position-small uk-hidden-hover uk-icon-button" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
      <a class="uk-position-center-right uk-position-small uk-hidden-hover uk-icon-button" href="#" uk-slidenav-next uk-slider-item="next"></a>
      <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
    </div>

    <div class="uk-text-center uk-margin">
      <a class="uk-button uk-button-default" href="{{ page.find('/references').url }}">Voir plus de références</a>
    </div>

  </div>
</div>
