<div class="uk-section uk-section-default">
  <div class="uk-container uk-container-small uk-margin">
    <h1 class="uk-heading-line uk-text-center"><span>{{ page.title }}</span></h1>
    {{ page.content }}
  </div>
</div>
