$global-small-margin: 10px;
$global-margin: 20px;
$global-medium-margin: 40px;
$global-large-margin: 70px;
$global-xlarge-margin: 140px;

$global-small-box-shadow: 0 2px 8px rgba(0, 0, 0, .08);
$global-medium-box-shadow: 0 5px 15px rgba(0, 0, 0, .08);
$global-large-box-shadow: 0 14px 25px rgba(0, 0, 0, .16);
$global-xlarge-box-shadow: 0 28px 50px rgba(0, 0, 0, .16);

$global-z-index: 1000;

$global-control-small-height: 30px;
$global-control-height: 40px;
$global-control-large-height: 55px;

$global-border-width: 1px;
$global-border: #e5e5e5;

$global-line-height: 1.5;
$global-font-family: 'Source Sans Pro', sans-serif;
$global-font-size: 16px;
$global-small-font-size: .875rem;
$global-medium-font-size: 1.25rem;
$global-large-font-size: 1.5rem;
$global-xlarge-font-size: 2rem;
$global-xxlarge-font-size: 2.625rem;

$global-small-gutter: 15px;
$global-gutter: 30px;
$global-medium-gutter: 40px;
$global-large-gutter: 70px;

$global-emphasis-color: #1d1d1d;
$global-color: #273043;
$global-inverse-color: #ffffff;
$global-muted-background: #f8f8f8;
$global-primary-background: #abc554;
$global-success-background: #5fad56;
$global-warning-background: #faa05a;
$global-danger-background: #e5625e;
$global-muted-color: #8aa29e;
$global-background: #ffffff;
$global-secondary-background: #0c120c;
$global-link-color: #abc554;
$global-link-hover-color: #e5e059;
